@import "react-alice-carousel/lib/alice-carousel.css";
body{
  font-size: 12px;
  /* background: url('https://rohitazad.github.io/ng5-all-calculator/bg.2ed3a3a83b393c7abc13.png') repeat 0 0; */
  background: #ccc;
}
.wrapContaine{
  padding-top:2px;
}
.topheading1 {
  margin: 25px 20px;
  font-size: 2rem;
  font-weight: bold;
}